<table class="table">
    <thead>
    <tr>
        <th class="text-center">Nickname</th>
        <th class="text-center">Personaje</th>
        <th class="text-center">Correo</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Acciones</th>
    </tr>
    </thead>
    <tbody class="text-center">
    {% if object_list %}
    {% for concursante in object_list %}
        <tr>
            <td >{{ concursante.nickname }}</td>
            <td >{{ concursante.id_personaje }}</td>
            <td >{{ concursante.email }}</td>
            <td >{{ concursante.nombre }}</td>
            <td  class="text-center">
                <form id="delete_form_{{ concursante.id }}" action="" method="POST">
                    <a href='#'>
                        <button type="button" class="btn btn-info btn-fab btn-round"  data-toggle="tooltip" data-placement="top" title="Detalles"><i class="material-icons">more_vert</i></button>
                    </a>
                    <a href="{% url 'concursante:edit_concursante' concursante.id  %}">
                        <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Editar"><i class="material-icons">edit</i></button>
                    </a>
                    <input name="_method" type="hidden" value="DELETE">

                    <button type="submit" class="btn btn-danger btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="material-icons">delete_forever</i></button>

                </form>
            </td>
        </tr>
    {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">
                No se han obtenido resultados de la búsqueda
            </td>
        </tr>
    {% endif %}

    </tbody>
    <tfoot>
    <tr>
        <td class="text-center" colspan="5">

        </td>
    </tr>
    </tfoot>
</table>