<table class="table">
    <thead>
    <tr>
        <th class="text-center">Nombre de usuario</th>
        <th class="text-center">Nombre(s)</th>
        <th class="text-center">Correo</th>
        <th class="text-center">Acciones</th>
    </tr>
    </thead>
    <tbody class="text-center">
    {% if object_list %}
        {% for usuario in object_list %}
            <tr>
                <td >{{ usuario.username }}</td>
                <td >{{ usuario.first_name }} {{ usuario.last_name }} {{ usuario.second_last_name }}</td>
                <td >{{ usuario.email }}</td>
                <td  class="text-center">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'usuario:edit_user' usuario.id %}">
                            <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Editar"><i class="material-icons">edit</i></button>
                        </a>
                        <a href="{% url 'usuario:delete_user' usuario.id %} ">
                            <button type="button" rel="tooltip" class="btn btn-danger btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="material-icons">delete_forever</i></button>
                        </a>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">
                No se han obtenido resultados de la búsqueda
            </td>
        </tr>
    {% endif %}

    </tbody>
    <tfoot>
    <tr>
        <td class="text-center" colspan="5">

        </td>
    </tr>
    </tfoot>
</table>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <a class="btn btn-dark btn-fab btn-round" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">arrow_back</i></a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if page_obj.has_next %}
                <a class="btn btn-dark btn-fab btn-round" href="?page={{ page_obj.next_page_number }}"><i class="material-icons">arrow_forward</i></a>
            {% endif %}
        </li>
    </ul>