{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %}Smash {% endblock %}
{% block type %}{% endblock %}
{% block content %}
    <!-- Titulo o encabezado -->
    <div class="page-header header-small clear-filter" data-parallax="true" style="background-image: url('{% static '/assets/img/black.jpg' %}'); height: 10vh ">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="title">Personajes</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- divs necesarios para el contenido -->
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Personaje</th>
                        <th class="text-center">Img</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% if object_list %}
                        {% for personaje in object_list %}
                            <tr>
                                <td>{{ personaje.id }}</td>
                                <td >{{ personaje.nombre }} </td>
                                <td >{% if personaje.imagen %}
                                    <img src="../../static/assets/img/personajes/{{ personaje.imagen }}" height="50">
                                {% else %}
                                    <img src="../../static/assets/img/personajes/No.png" height="50">
                                {% endif %}</td>
                                <td class="text-center">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <a href="{% url 'personaje:edit_personaje' personaje.id %}">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Editar"><i class="material-icons">edit</i></button>
                                        </a>
                                        <a href="{% url 'personaje:delete_personaje' personaje.id %}">
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="material-icons">delete_forever</i></button>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">
                                No se han obtenido resultados de la búsqueda
                            </td>
                        </tr>
                    {% endif %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" colspan="4">

                        </td>
                    </tr>
                    </tfoot>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="btn btn-dark btn-default btn-round" href="?page=1">Inicio</a>
                                <a class="btn btn-dark btn-fab btn-round" href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">arrow_back</i></a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="btn btn-dark btn-fab btn-round" href="?page={{ page_obj.next_page_number}}"><i class="material-icons">arrow_forward</i></a>
                                <a class="btn btn-dark btn-default btn-round" href="?page=10">Ultima</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <a href=" {% url 'personaje:add_personaje' %}">
                    <button type="button" class="btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="Añadir una carrera"><i class="material-icons">add</i>Añadir</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}