{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %}Smash {% endblock %}
{% block type %}{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="page-header header-filter clear-filter" data-parallax="true" style=" background-image: url('{% static '/assets/img/black.jpg'%}'); height: 40vh">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Nueva contraseña</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="container">
                <div class="section text-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <form id="form" class="form-horizontal" name="form" method="post">
                            {% csrf_token %}
                            <div class="row text-left">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.new_password1.errors }}
                                        <label for="nickname">Nueva contraseña: </label>
                                        {{ form.new_password1 }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.new_password2.errors }}
                                        <label for="nickname">Confirme contraseña: </label>
                                        {{ form.new_password2 }}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary btn-round" value="Guardar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="page-header header-filter clear-filter" data-parallax="true" style=" background-image: url('{% static '/assets/img/black.jpg'%}'); height: 85vh">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">ENLACE INVÁLIDO: EL ENLACE A EXPIRADO O YA HA SIDO UTILIZADO</h2>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}