{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %}Smash {% endblock %}
{% block type %}{% endblock %}
{% block content %}

    <!-- Titulo o encabezado -->
    <div class="page-header header-small clear-filter" data-parallax="true" style="background-image: url('{% static '/assets/img/black.jpg' %}'); height: 10vh ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title">Lista de carreras</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- divs necesarios para el contenido -->
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nombre de la carrera</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    {% if object_list %}
                        {% for carrera in object_list %}
                            <tr>
                                <td>{{ carrera.id }}</td>
                                <td>{{ carrera.nombre_carrera }}</td>
                                <td  class="text-center">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <a href="{% url 'carrera:edit_carrera' carrera.id %}">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Editar"><i class="material-icons">edit</i></button>
                                        </a>
                                        <a href="{% url 'carrera:delete_carrera' carrera.id %}">
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="material-icons">delete_forever</i></button>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">
                                No se han obtenido resultados de la búsqueda
                            </td>
                        </tr>
                    {% endif %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" colspan="3">

                        </td>
                    </tr>
                    </tfoot>
                </table>
                <a href="{% url 'carrera:add_carrera' %}">
                    <button type="button" class="btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="Añadir una carrera"><i class="material-icons">add</i>Añadir</button>
                </a>

            </div>
        </div>
    </div>

{% endblock %}